<md-sidenav
    class="md-sidenav-left"
    md-component-id="left"
    md-whiteframe="4"
>
    <md-toolbar>
        <h1 class="md-toolbar-tools"></h1>
    </md-toolbar>
    <md-content layout-padding>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Qui velit exercitationem optio repudiandae, maiores suscipit
            nam dolor in iusto, pariatur harum neque quae cum voluptates
            rem consequatur placeat reprehenderit odio.
        </p>
    </md-content>
    <md-button class="md-secondary" ng-click="close()">Close</md-button>
</md-sidenav>
