<!DOCTYPE html>
<html ng-app="toDoApp">
<head>
  <!-- SCROLLS -->
  <!-- load bootstrap and fontawesome via CDN -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.7/angular-material.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/styles.css" />

  <!-- SPELLS -->
  <!-- load angular via CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script src="js/script.js"></script>
  <script src="js/services.js"></script>
  <script src="js/factories.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/components.js"></script>
  <script src="js/constants.js"></script>
  <script src="components/new-task-modal/newTaskModalController.js"></script>
  <script src="components/task-list-element/taskListElementController.js"></script>
  <script src="components/side-navigation/sideNavigationController.js"></script>
  <script src="components/navigation/mainNavigationController.js"></script>
  <script src="components/search-bar/searchBarController.js"></script>

  <!--removeIf(production)-->
  <script src="http://files.keyes.ie/things/baseliner/baseliner-latest.min.js"></script>
  <script>
      window.onload = function() {
          baseliner = new Baseliner({gridHeight: 30, gridOffset: 21, gridColor: 'blue' });
      };
  </script>
  <!--endRemoveIf(production)-->
</head>

<!-- define angular controller -->
<body ng-controller="mainController" ng-cloak>
  <side-navigation id="side-navigation"></side-navigation>
  <new-task-modal id="new-task-pop-up"></new-task-modal>
  <main-navigation id='navigation'></main-navigation>
  <div layout="column" layout-align="center center" >
      <md-card class="main-card">
          <md-card-header md-color="indigo">
            <md-card-header-text>
                <span class="md-title">To do list</span>
            </md-card-header-text>
          </md-card-header>
          <div>
            <md-divider></md-divider>
            <md-toolbar layout="row" layout-align="space-between center" class="list-header">
                <md-input-container class="md-block">
                    <label>Project</label>
                    <md-select ng-model="projectFilter">
                        <md-option ng-repeat="project in projectName" value="{{project[0]}}">{{project[1]}}</md-option>
                    </md-select>
                </md-input-container>
                <md-button class="change-date">Change date<i class="fa fa-calendar-o" aria-hidden="true"></i></md-button>
            </md-toolbar>
            <md-list ng-show="showList">
                <task-list-element data='task' ng-repeat='task in tasksList | filter: {name: searchName, project:projectFilter}' ></task-list-element>
            </md-list>
            <div  class="no-tasks" ng-hide="showList">
            You have no tasks
            </div>
          </div>
          <md-card-footer>
              <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-primary md-raised" ng-click="showNewTask($event)">New task</md-button>
              </md-card-actions>
          </md-card-footer>
      </md-card>
  </div>
</body>
<script async></script>
</html>
