<!DOCTYPE html>
<html ng-app="toDoApp">
<head>
  <!-- SCROLLS -->
  <!-- load bootstrap and fontawesome via CDN -->
  <link rel="stylesheet" type="text/css" href="css/styles.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

  <!-- SPELLS -->
  <!-- load angular via CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
  <script src="js/script.js"></script>
  <script src="js/services.js"></script>
  <script src="js/factories.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/components.js"></script>
  <script src="js/constants.js"></script>
</head>

<!-- define angular controller -->
<body ng-controller="mainController">
  <div id="overlay"></div>
  <div id="popup">
      <div class="popup-controls">
        <span id="popup-close" ng-click="closePopup()">X</span>
      </div>
      <div class="popup-content">
        <h4>New task</h4>
        <form>
          <div>
            <label for="task-name">Name your task</label>
            <input type="text" class="" id="task-name" placeholer="e.g. meeting wednesday, 15" ng-model="task.name">
          </div>
          <div>
            <label for="due-date">Date</label>
            <input type="date" class="" id="due-date" ng-model="task.dueDate">
          </div>
          <div>
            <label for="project">Project</label>
            <input type="text" class="" id="project" ng-model="task.project">
          </div>
          <div>
            <label for="priority">Priority</label>
            <select name="Priority" id="priority" ng-model="task.priority">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div>
          <div>
            <label for="tags">Tags</label>
            <input type="text" class="" id="tags" ng-model="task.tags">
          </div>
          <div>
            <label for="parent">Parent</label>
            <input type="text" class="" id="parent" ng-model="task.parent">
          </div>
          <div>
            <label for="comments">Comments</label>
            <input type="text" class="" id="comments" ng-model="task.comments">
          </div>
          <div>
            <label for="reminders">Remind me</label>
            <select name="Remind me" id="reminders" ng-model="task.reminders">
              <option value="1">10 minutes before</option>
              <option value="2">30 minutes before</option>
              <option value="3">1 hour before</option>
              <option value="4">2 hours before</option>
            </select>
          </div>
          <div>
            <button type="submit" ng-click="addNewTask()">Confirm</button>
          </div>
        </form>
      </div>
  </div>
  <nav class="navigation">
      <div class="nav-left">
        <a href=""><i class="fa fa-bars" aria-hidden="true"></i></a>
      </div>
      <div class="nav-right">
        <a href=""><i class="fa fa-search" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
      </div>
  </nav>
  <div class="list-header">
    <a href="" class="filter-task-status" ng-click="">Unaccomplished<i class="fa fa-caret-down" aria-hidden="true"></i></a>
    <a href="" class="button-change-date" ng-click="">Change date<i class="fa fa-calendar-o" aria-hidden="true"></i></a>
  </div>
  <div>
    <ul class="list" ng-show="showList">
      <li ng-repeat='task in tasksList' class="list-element">
        <a href="" ng-click="taskDetails()">
          <div class="content">
            <div class="name-and-date">
              <span class="task-name">{{task.name}}</span> <span class="due-date">{{task.dueDate}}</span> 
            </div>
            <div class="additional-info">
              <span>{{task.project}}</span>
            </div>
          </div>
        </a> 
      </li>
    </ul>
    <div  class="no-tasks" ng-hide="showList">
      You have no tasks
    </div>
  </div>
  <div class="new-task-panel">
    <a href="" class="button-new-task" ng-click="newTask()"><i class="fa fa-plus" aria-hidden="true"></i></a>
  </div>
</body>
<script async></script>
</html>