<!DOCTYPE html>
<html ng-app="toDoApp">
<head>
  <!-- SCROLLS -->
  <!-- load bootstrap and fontawesome via CDN -->
  <link rel="stylesheet" type="text/css" href="css/styles.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

  <!-- SPELLS -->
  <!-- load angular via CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
  <script src="js/script.js"></script>
  <script src="js/services.js"></script>
  <script src="js/factories.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/components.js"></script>
  <script src="js/constants.js"></script>
</head>

<!-- define angular controller -->
<body ng-controller="mainController">
  <new-task-modal id="new-task-pop-up"></new-task-modal>
  <nav class="navigation">
      <div class="nav-left">
        <a href=""><i class="fa fa-bars" aria-hidden="true"></i></a>
      </div>
      <div class="nav-right">
        <a href=""><i class="fa fa-search" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
      </div>
  </nav>
  <div class="list-header">
    <div href="" class="filter-project-type" ng-click="">
      All<i class="fa fa-caret-down" aria-hidden="true"></i>
      <div class="dropdown-content">
        <a href=""><i class="fa fa-circle" aria-hidden="true"></i>Personal</a>
        <a href=""><i class="fa fa-circle" aria-hidden="true"></i>Shopping</a>
        <a href=""><i class="fa fa-circle" aria-hidden="true"></i>Work</a>
        <a href=""><i class="fa fa-circle" aria-hidden="true"></i>Errands</a>
        <a href=""><i class="fa fa-circle" aria-hidden="true"></i>Movies to watch</a>
      </div>
    </div>
    <div href="" class="button-change-date" ng-click="">Change date<i class="fa fa-calendar-o" aria-hidden="true"></i></div>
  </div>
  <div>
    <ul class="list" ng-show="showList">
      <li ng-repeat='task in tasksList' class="list-element">
        <a href="" ng-click="taskDetails()">
          <div class="content">
            <div class="name-and-date">
              <span class="task-name">{{task.name}}</span> <span class="due-date">{{task.dueDate}}</span> 
            </div>
            <div class="additional-info">
              <span>{{task.project}}</span>
            </div>
          </div>
        </a> 
      </li>
    </ul>
    <div  class="no-tasks" ng-hide="showList">
      You have no tasks
    </div>
  </div>
  <div class="new-task-panel">
    <a href="" class="button-new-task" ng-click="newTask()"><i class="fa fa-plus" aria-hidden="true"></i></a>
  </div>
</body>
<script async></script>
</html>