/* Building grid overlay */
$gutter: 20px;
$columns: 8;
$max-width: 900px + $gutter;
$overlay-color: hsla(204, 80%, 72%, 0.25);
$repeating-width: $max-width / $columns;
$column-width: $repeating-width - $gutter;
$background-width: $max-width + $gutter;
$baseline: 1rem;
$baseline-offset: 2rem;
$background-columns: repeating-linear-gradient(
    to right,
    $overlay-color,
    $overlay-color $column-width,
    transparent $column-width,
    transparent $repeating-width
);
$background-baseline: repeating-linear-gradient(
    to bottom,
    $overlay-color,
    $overlay-color 1px,
    transparent 1px,
    transparent $baseline
);


html {
	position: relative;
}

html::before {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: $gutter;
	margin-right: auto;
	margin-left: auto;
	width: $max-width;
	max-width: $max-width;
	min-height: 100vh;
	content: '';
    background-image: $background-columns, $background-baseline;
	background-size: $background-width;
	z-index: 1000;
	pointer-events: none;
}
