.list-header {
	padding: 15px $outer-padding;
	div {	
		display: inline-block;
		color: #e74c3c;
		text-decoration: none;
		cursor: pointer;

		i {
			padding-left: 10px;
		}
	}

	.filter-project-type {
		position: relative;
		#filter-project-type-dropdown {
			display: none;
		}
		.dropdown-content {
			position: absolute;
			border-radius: 3px;
			margin-top: 4px;
			width: 200px;
			background-color: #FAFAFA;;
			box-shadow: $drop-shadow;
			&:hover {
				display: block;
			}
			a {
				display: block;
				height: 35px;
				text-decoration: none;
				color: $font-color-primary;
				line-height: 35px;
				i {
					margin-right: 10px;
					font-size: 11px;
					line-height: 35px;
				}
				&:hover {
					background-color: $background-on-hover;
				}
			}
		}
	}

	.button-change-date {
		float: right;
	}
}

.list {
	.list-element {
		a {
			display: block;
			cursor: pointer;
			text-decoration: none;
			padding: 15px $outer-padding;
			color: #212121;
			border-bottom: 1px solid #E0E0E0;

			.name-and-date {
				padding-bottom: 5px;
				.due-date {
					color: #9E9E9E;
					display: inline-block;
					float: right;
				}
			}

			.additional-info {
				color: #9E9E9E;
				font-size: 14px;
				font-weight: 500;
			}

			&:hover {
				background-color: $background-on-hover;
			}

			& .details {
				//display: none;
			}
		}
	}
}

.no-tasks {
	padding: 0px $outer-padding;
	text-align: center;
}