.change-date {
	i {
		padding-left: 8px;
	}
}

.list-button {
	min-width: 36px;
}

.list-header {
	padding: 10px 15px 0px 15px;
	background-color: #F5F5F5 !important;
	color: $font-color-primary !important;
}


.list-item-details {
	.details-other {
		.detail-other-inline{
			margin-bottom: 20px;
		}
	}

	.label {
		color: $font-color-secondary;
		height: 24px;
		i {
			font-size: 16px;
			line-height: 24px;
			margin-right: 3px;
		}

		.label-name {
			font-size: 14px;
			font-weight: 500;
			display: inline-block;
			line-height: 24px;
		}
	}
}

.completed {
	.name, .edit-panel {
		color: $nephritis;
	}
}

.no-tasks {
	padding: 0px $outer-padding;
	text-align: center;
}
