.navigation {

	background-color: $primary-red;
	padding: 13px $outer-padding;
	margin-bottom: 30px;
	box-shadow: $drop-shadow;
	display: block;

	& a {
		color: #ffffff;
	}

	.nav-left {
		display: inline-block;

	}

	.nav-right {
		display: inline-block;
		float: right;
		& a {
			margin-right: 20px;
		}
		a:last-of-type {
			margin-right: 0px;
		}
	}
}
