#side-navigation {
	height: 100%;
	display: none;
	position: fixed;
	width: 100%;
	overflow-x: hidden;
	z-index: 1;

	.side-menu {
		display: inline-block;
		position:absolute;
		background-color: $white;
		height: 100%;
		width: 30%;
		padding: 20px;

		.close-button {
			display: inline-block;
			float: right;
			font-size: 32px;
			color: $font-color-secondary;
		}
	}

	.shadow-cover {
		display: inline-block;
		position: absolute;
		height: 100%;
		width: 70%;
		right: 0;
		background-color: $overlay-shadow;
	}
}
