$outer-padding: 30px;
$offset: 20px;        // Padding of the main container
$font-color-primary: #212121;
$font-color-secondary: #757575;
$drop-shadow: 0 4px 12px rgba(127, 0, 0, 0.1);
$overlay-shadow: rgba(44,62,80 ,0.3);
$background-on-hover: #EEEEEE;
$box-border: 1px solid #E0E0E0;
$primary-red: #e74c3c;
$white: #FFFFFF;
$tl: 0.6s;        // Transition lenght for seach icon transition
