//@import 'node_modules/jeet/scss/index';

//@include debug();

@import '_variables';
//@import '_grid-overlay';

html, body {
	height: 100%;
	background-color: #EEEEEE;
	font-family: 'Roboto', sans-serif;
}

// .container {
// 	@include center(940px, $offset);
// }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

@import '_general';
@import '_pop-up';
@import '_side-navigation';
@import '_navigation-bar';
@import '_list';
@import '_button-new-task';
