<nav class="navigation">
  <div class="container">
    <div class="nav-left">
      <a href="" ng-click="showSideNav()"><i class="fa fa-bars" aria-hidden="true"></i></a>
    </div>
    <div class="nav-right">
      <form class="search-container" action="">
          <input id="search-box" type="text" class="search-box" name="q" />
          <label for="search-box"><i class="fa fa-search search-icon" aria-hidden="true"></i></span></label>
          <input type="submit" id="search-submit" />
       </form>
    </div>
  </div>
</nav>
