html, body {
  height: 100%;
  background-color: #EEEEEE;
  font-family: 'Roboto', sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

.box {
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  background-color: #ffffff; }

.main-card {
  width: 960px; }

#new-task-pop-up {
  display: none; }

.new-task {
  min-width: 600px; }
  .new-task .popup-content {
    padding: 30px 30px; }

#side-navigation {
  height: 100%;
  display: none;
  position: fixed;
  width: 100%;
  overflow-x: hidden;
  z-index: 1;
  color: #212121; }
  #side-navigation a:link, #side-navigation a:visited {
    color: inherit; }
  #side-navigation .side-menu {
    display: inline-block;
    position: absolute;
    background-color: #FFFFFF;
    height: 100%;
    width: 30%;
    padding: 20px; }
    #side-navigation .side-menu .close-button {
      display: inline-block;
      float: right;
      font-size: 32px;
      color: #9E9E9E; }
  #side-navigation .shadow-cover {
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 70%;
    right: 0; }

.navigation {
  background-color: #e74c3c;
  padding: 10px 30px;
  margin-bottom: 30px;
  display: block;
  font-size: 20px; }
  .navigation a {
    color: #ffffff; }
  .navigation .nav-left {
    display: inline-block; }
  .navigation .nav-right {
    display: inline-block;
    float: right; }
    .navigation .nav-right .search-container .search-box {
      transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s, color 0.6s;
      width: 32px;
      height: 32px;
      border-radius: 16px;
      border: none;
      background: #c0392b; }
      .navigation .nav-right .search-container .search-box::placeholder {
        color: #c0392b; }
      .navigation .nav-right .search-container .search-box + label .search-icon {
        color: white; }
      .navigation .nav-right .search-container .search-box:hover {
        color: #212121;
        background: white;
        box-shadow: 0 0 0 2px #c0392b; }
        .navigation .nav-right .search-container .search-box:hover + label .search-icon {
          color: #212121; }
        .navigation .nav-right .search-container .search-box:hover::placeholder {
          color: white; }
      .navigation .nav-right .search-container .search-box:focus {
        transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1), border-radius 0.6s, background 0.6s;
        border: none;
        outline: none;
        box-shadow: none;
        padding-left: 15px;
        cursor: text;
        width: 300px;
        border-radius: auto;
        background: white;
        color: #212121; }
        .navigation .nav-right .search-container .search-box:focus::placeholder {
          color: #7f8c8d; }
        .navigation .nav-right .search-container .search-box:focus + label .search-icon {
          color: #212121; }
    .navigation .nav-right .search-container #search-submit {
      position: relative;
      left: -5000px; }
    .navigation .nav-right .search-container .search-icon {
      position: relative;
      left: -30px;
      color: white;
      cursor: pointer; }

.list-button {
  min-width: 36px; }

.list-header {
  padding: 18px 15px; }

.list-item-details .details-other .detail-other-inline {
  margin-bottom: 20px; }

.list-item-details .label {
  color: #9E9E9E;
  height: 24px; }
  .list-item-details .label i {
    font-size: 16px;
    line-height: 24px;
    margin-right: 3px; }
  .list-item-details .label .label-name {
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    line-height: 24px; }

.completed .name, .completed .edit-panel {
  color: #27ae60; }

.no-tasks {
  padding: 0px 30px;
  text-align: center; }
