html, body {
  height: 100%;
  background-color: #EEEEEE;
  font-family: 'Roboto', sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

.box {
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  background-color: #ffffff; }

.main-card {
  width: 960px; }

#new-task-pop-up {
  display: none; }

.new-task {
  min-width: 600px; }
  .new-task .popup-content {
    padding: 30px 30px; }

#side-navigation {
  height: 100%;
  display: none;
  position: fixed;
  width: 100%;
  overflow-x: hidden;
  z-index: 1;
  color: #212121; }
  #side-navigation a:link, #side-navigation a:visited {
    color: inherit; }
  #side-navigation .side-menu {
    display: inline-block;
    position: absolute;
    background-color: #FFFFFF;
    height: 100%;
    width: 30%;
    padding: 20px; }
    #side-navigation .side-menu .close-button {
      display: inline-block;
      float: right;
      font-size: 32px;
      color: #9E9E9E; }
  #side-navigation .shadow-cover {
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 70%;
    right: 0; }

.navigation {
  font-size: 20px;
  margin-bottom: 40px; }
  .navigation .nav-content {
    width: 960px; }
    .navigation .nav-content .nav-button {
      min-width: 36px;
      font-size: 20px; }

.list-button {
  min-width: 36px; }

.list-header {
  padding: 18px 15px; }

.list-item-details .details-other .detail-other-inline {
  margin-bottom: 20px; }

.list-item-details .label {
  color: #9E9E9E;
  height: 24px; }
  .list-item-details .label i {
    font-size: 16px;
    line-height: 24px;
    margin-right: 3px; }
  .list-item-details .label .label-name {
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    line-height: 24px; }

.completed .name, .completed .edit-panel {
  color: #27ae60; }

.no-tasks {
  padding: 0px 30px;
  text-align: center; }
