html, body {
  height: 100%;
  background-color: #EEEEEE;
  font-family: 'Roboto', sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

.box {
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  background-color: #ffffff; }

.main-card {
  width: 960px; }

#new-task-pop-up {
  display: none; }

.new-task {
  min-width: 600px; }
  .new-task .popup-content {
    padding: 30px 30px; }

.navigation {
  font-size: 20px;
  margin-bottom: 40px; }
  .navigation .nav-content {
    width: 960px; }
    .navigation .nav-content .nav-button {
      font-size: 20px; }

.search-bar {
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
  .search-bar > input {
    width: 0;
    max-width: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
    transition: max-width 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
  .search-bar > .md-button {
    margin: 0; }
  .search-bar > .marker {
    display: none;
    position: absolute;
    margin-left: -8px;
    background: #f00;
    width: 10px;
    height: 10px;
    border-radius: 50%; }

.search-bar--expanded {
  padding: 0 8px;
  background-color: #E8EAF6; }
  .search-bar--expanded > input {
    width: auto;
    border: none;
    color: #212121;
    font-size: 16px;
    font-weight: 400;
    max-width: 100%;
    margin-left: 8px;
    padding: 4px; }
    .search-bar--expanded > input:focus {
      border: none; }
  .search-bar--expanded > .nav-button {
    color: #212121; }

.search-bar--marked .marker {
  display: inline-block; }

.change-date i {
  padding-left: 8px; }

.list-button {
  min-width: 36px; }

.list-header {
  padding: 18px 15px; }

.list-item-details .details-other .detail-other-inline {
  margin-bottom: 20px; }

.list-item-details .label {
  color: #9E9E9E;
  height: 24px; }
  .list-item-details .label i {
    font-size: 16px;
    line-height: 24px;
    margin-right: 3px; }
  .list-item-details .label .label-name {
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    line-height: 24px; }

.completed .name, .completed .edit-panel {
  color: #27ae60; }

.no-tasks {
  padding: 0px 30px;
  text-align: center; }
